<table class="table table-striped">
    <thead>
        <tr *ngIf="products.length > 0">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>${{product.price}}</td>
        </tr>
    </tbody>
</table>