<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.nama}}</td>
            <td>{{user.email}}</td>
            <td>@{{user.mobile}}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr *ngIf="products2.length > 0">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products2">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>${{product.price}}</td>
        </tr>
    </tbody>
</table>